:root
{
    --xpct: 8000px;
    --RotX: 0;
    --RotZ: 0;
    --scaleVal: 0.6;
    --persp: 800px;

}
#moving, #rotating
{
    height: calc(var(--xpct) / 16);
    width: calc(var(--xpct) / 9);
    position: absolute;
    z-index: 2;
}
#pad
{
    position: absolute;
    height: calc(var(--xpct) / 16);
    width: calc(var(--xpct) / 9);
    background-color: #333;
    border-radius: 2rem;
    transform-origin: center center;
    z-index: 99;
    transform: scale(var(--initPadScale));

    /* transform: perspective(var(--persp)) scale(var(--scaleVal)) rotateX(var(--RotX)deg) rotateZ(var(--RotZ)deg); */
}
/* #pad:hover
{
    box-shadow: 0 0 20px 0 black;
} */
#pad > *
{
    transform-origin: center center;
}
#mousepad
{
    /* width: 100%;
    height: 100%; */
    /* border: #111 dotted 5px; */
    position: relative;
}

#mouse
{
    position: absolute;
    width: 7rem;
}
